{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}

<div class="container-fluid" style="padding-top: 50px;">
	<div class="row">
		<div class="container">
			<h1 style="font-size: 0;">Iddeas Mkt Creative - AVISO DE PRIVACIDAD</h1>
			<h2 class="text-center titulo2" style="margin-bottom: 0;">Aviso de Privacidad Interactive Mkt S.A. de C.V. – Iddeas Creative Mkt</h2>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<p>Ley Federal de Protección de Datos Personales en Posesión de los ParticularesResponsable de la protección de sus Datos Personales
INTERACTIVE MKT S.A DE C.V., con domicilio comercial en, SM. 505 MZA 3 LT. 4 AV. PEHALTUN C.P. 77533 CANCÚN, QUINTANA ROO. MÉXICO. con número telefónico 9981832704 y con el siguiente correo electrónico info@iddeasmkt.com es responsable de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, del tratamiento de sus datos personales.</p>

<p><b>Forma y medios de contacto</b><br>
Puede contactarnos, redactando un documento en idioma español, dirigido a Iddeas Creative Mkt, y hacerlo llegar por correo electrónico a la siguiente dirección electrónica info@iddeasmkt.com; vía correo postal a la siguiente dirección: SM. 505 MZA 3 LT. 4 AV. PEHALTUN C.P. 77533 CANCÚN, QUINTANA ROO. MÉXICO.</p>

<p><b>Fines de los Datos Personales recabados</b><br>
Sus datos personales serán utilizados para fines informativos, para mejora en la calidad de nuestros servicios; así como de seguimiento a clientes, actualización y confirmación en cuanto a productos y servicios que ofertamos; también con fines promocionales y de contratación; lo anterior para brindar un mejor servicio a nuestros clientes, así como dar cumplimiento a obligaciones contraídas con nuestros usuarios. Por último también serán utilizados para evaluar la calidad del servicio que prestamos y realizar estudios sobre hábitos de consumo y preferencias.</p>

<p><b>Datos recabados y medios de obtención de Datos Personales</b><br>
Los datos personales que recabamos de usted, con los fines descritos en el presente aviso de privacidad, son recabados de manera personal, cuando usted nos los proporciona directamente o por vía de nuestro Portal en Internet iddeasmkt.com cuando ingresa sus datos o utiliza nuestros servicios en línea en redes sociales con el nombre de Iddeas Mkt y cuando obtenemos información a través de otras fuentes que están permitidas por la Ley.</p>

<p>Los datos personales que recabamos de forma directa cuando usted mismo nos los proporciona por diversos medios, son: nombre, apellidos, dirección física, dirección de correo electrónico, RFC, puesto laboral, dirección laboral, teléfono móvil, teléfono de oficina, sitio web y perfiles en redes sociales.</p>

<p>Toda vez que la Ley permite otras fuentes de allegarnos de información como lo son directorios telefónicos, de servicios y laborales, los datos que por dichos medios podemos obtener son nombre y apellidos, teléfono y correo electrónico.</p>

<p><b>Limitaciones al uso de datos</b><br>
Usted puede cancelar su suscripción para recibir promociones, ofertas y servicios de manera telefónica, por correo electrónico y vía correo postal haciendo llegar una carta escrita en idioma español donde indique su solicitud y los datos necesarios como lo son Nombre completo (nombre o nombres y apellido o apellidos) teléfono y dirección física o electrónica al correo electrónico info@iddeasmkt.com.</p>

<p><b>En ejercicio de los Derechos Acceso, Rectificación, Cancelación u Oposición (DERECHOS ARCO)</b>
Usted tiene derecho de acceder a los datos personales que poseemos, a los detalles de tratamiento de los mismos, a la rectificación en el caso de ser estos inexactos o incompletos, a cancelarlos cuando usted  considere que no son necesarios para alguna de las finalidades contenidas en el presente Aviso de Privacidad, que son utilizados para finalidades no consentidas y finalmente a oponerse al tratamiento de dichos datos para fines específicos y que deberá de manera clara expresar.</p>

<p><b>Mecanismos para el ejercicio de los Derechos ARCO</b><br>
Los Derechos antes descritos se ejercen a través de la presentación de la solicitud respectiva por escrito y en idioma español que debe presentar de manera electrónica a  info@iddeasmkt.com. Dirigida a Iddeas Creative Mkt, o de manera física en la siguiente dirección, SM. 505 MZA 3 LT. 4 AV. PEHALTUN C.P. 77533 CANCÚN, QUINTANA ROO. MÉXICO. Para mayor información favor de comunicarse al teléfono: 9981832704. </p>

<p>El plazo para atender su solicitud será en un máximo de veinte días contados a partir de la fecha de recepción de su solicitud de acceso, rectificación, cancelación u oposición.</p>

<p>Le hacemos de su conocimiento que es el Instituto Federal de Acceso a la Información y Protección de Datos Personales es quien tiene encomendado velar por sus derechos ARCO y el encargado de regular y verificar la observancia de la Ley.</p>
<p><b>Derecho de revocar su consentimiento para el tratamiento de datos</b><br>
En todo tiempo usted puede revocar su consentimiento para el tratamiento de sus datos personales con el propósito que se deje de hacer uso de los mismos, para ello es necesario que presente su petición según descrito en éste mismo aviso en la parte de “Forma y medios de Contacto”.
Su solicitud deberá indicar Nombre completo (nombre o nombres y apellido o apellidos) copia simple de su identificación oficial o, en medios electrónicos, versión digitalizada de la misma (escaneo), indicación del correo electrónico o dirección física que designe para notificaciones y algún número telefónico de contacto.</p>

<p>En un plazo máximo de veinte días contados a partir de la fecha de recepción de su solicitud de revocación le daremos contestación sobre la procedencia de la misma, por medio de correo electrónico dirigido a su persona, enviado a la dirección de correo electrónico que haya indicado en la propia solicitud o enviando carta al domicilio físico que haya indicado a tales efectos (los veinte días se darán por cumplidos al momento de entregar el documento al servicio postal)</p>
<p>Sus datos personales no serán transmitidos a terceros sin su consentimiento, de conformidad con el artículo 37 de la Ley, incluidas las demás excepciones previstas en dicho ordenamiento legal.</p>

<p><b>Modificaciones al presente aviso de privacidad</b><br>
Nos queda reservado el derecho de efectuar, en cualquier tiempo, modificaciones o actualizaciones al presente aviso de privacidad.
Las modificaciones que se efectúen se pondrán a disposición del público a través de algunos o todos los siguientes medios: anuncios visibles en nuestros establecimientos, vía nuestra página de internet, vía correo electrónico a la dirección más reciente que tengamos de usted, por medio de publicaciones en periódicos de circulación nacional, revistas, carteles, grabaciones sonoras o personalmente por medio de nuestros encargados al momento de acudir a cualquiera de nuestras instalaciones.</p>

<p><b>Información en Internet</b><br>
Hacemos de su conocimiento que cuando accede a nuestro Portal en Internet es recibida por nuestra parte información referente a sus cookies (término definido abajo en la parte de Definiciones) y web beacons (término definido abajo en la parte de Definiciones) para obtener información de su tipo de navegador y sistema operativo, las páginas de Internet que ha visitado recientemente, los vínculos que recientemente ha seguido, la dirección IP de su computadora, el sitio que cerro antes de entrar a nuestro portal en Internet.</p>
<p><b>Definiciones</b><br>
Se entiende para efectos del presente aviso de Privacidad lo siguiente:<p>

<p style="padding-left: 20px;">I. Cookies.- Son los archivos de texto que se descargan automáticamente y se almacenan en el disco duro del equipo de cómputo del usuario al navegar en una página o portal de Internet específico, que permiten almacenar al servidor de Internet ciertos datos, entre ellos, paginas preferidas de visualización en internet, algunas claves y contraseñas.</p>
<p style="padding-left: 20px;">II. Días.- Por disposición del Artículo 3° en su fracción VII de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares los plazos y tiempos estipulados en días, se contarán en días hábiles.</p>
<p style="padding-left: 20px;">III. Derechos ARCO.- Son los Derechos de Acceso, Rectificación, Cancelación y Oposición, consagrados de en la Ley que por sus siglas forman dicha palabra.</p>
<p style="padding-left: 20px;">IV. Ley.-Hacer referencia a la  Ley Federal de Protección de Datos Personales en Posesión De los Particulares,  publicada en el Diario Oficial de la Federación el 5 de julio de 2010.</p>
<p style="padding-left: 20px;">V. Web beacons.-Imágenes insertadas en páginas o portales de Internet así como en correos electrónicos y que entre otros pueden almacenar información de la dirección IP del usuario, tiempo de interacción en los sitios web, entre otros.</p>
Consentimiento tácito, en términos del artículo octavo de la Ley. En caso de que usted desee manifestar OPOSICIÓN a que sus datos personales sean tratados conforme a lo establecido en el presente aviso de privacidad deberá enviar su negativa por escrito en idioma a español a info@iddeasmkt.com. </p>


<p>LINEAMIENTOS DE PRIVACIDAD QUE MANTIENE INTERACTIVE MKT S.A. DE C.V. AL USUARIO DEL SITIO www.iddeasmkt.com EN ADELANTE EL “USUARIO” POR LA INFORMACIÓN INSERTADA EN EL MISMO.</p>
<p>Los presentes términos y condiciones representan la política de privacidad sobre el uso de la información incluida en la base de datos de INTERACTIVE MKT S.A. DE C.V.  Y por tanto el USUARIO acepta que al momento de insertar su información en iddeasmkt.com se conduce con verdad y manifiesta lo siguiente:</p>
<p style="padding-left: 20px;">1. El USUARIO acepta que toda la información agregada por él o que a su vez se obtenga mediante su acceso a www.iddeasmkt.com será susceptible de compilarse y fijarse en una base de datos (en adelante, Base de Datos), misma que será propiedad de INTERACTIVE MKT S.A. DE C.V.</p>
<p style="padding-left: 20px;">2. El USUARIO concede a INTERACTIVE MKT S.A. DE C.V. autorización expresa para publicar, divulgar y/o transmitir la información que haya insertado en la Base de Datos en términos del artículo 109 de la Ley Federal del Derecho de Autor.</p>
<p style="padding-left: 20px;">3. INTERACTIVE MKT S.A. DE C.V. se compromete y el USUARIO acepta a que toda la información compilada en la Base de Datos será almacenada y protegida para evitar su pérdida, uso indebido o alteración sin que por ello sea de ninguna forma responsable por la intercepción, reproducción o robo por parte de terceros de la información contenida en la Base de Datos</p>
<p style="padding-left: 20px;">4. El USUARIO acepta que mediante la inserción de su información en www.iddeasmkt.com otorga su consentimiento expreso referido en el artículo 76bis de la Ley Federal de Protección al Consumidor a fin de que INTERACTIVE MKT S.A. DE C.V. pueda difundir y transmitir la información insertada en la Base de Datos a otros proveedores o autoridades competentes que así lo requieran.</p>
<p style="padding-left: 20px;">5. El USUARIO otorga su consentimiento expreso para a su vez, recibir información con carácter o para fines de mercadotecnia o publicitarios por parte de INTERACTIVE MKT S.A. DE C.V. en términos de los artículos 16, 18 y 18 bis de la Ley Federal de Protección al Consumidor.</p>
<p style="padding-left: 20px;">6. INTERACTIVE MKT S.A. DE C.V. declara y El USUARIO acepta que INTERACTIVE MKT S.A. DE C.V. no será responsable ni ejerce de ninguna forma ningún tipo de control sobre los enlaces a páginas distintas, portales etc. de terceras personas ajenas a INTERACTIVE MKT S.A. DE C.V. que pueda llegar a contener la dirección web www.iddeasmkt.com </p>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
	$('.servcios-home').slick({
		dots: false,
		arrows:false,
	  	infinite: true,
	  	speed: 300,
	  	slidesToShow: 1,
	  	autoplay: true,
  		autoplaySpeed: 2000,
	});

	$('.slide-home').slick({
		dots: false,
		arrows:false,
	  	infinite: true,
	  	speed: 300,
	  	slidesToShow: 1,
	  	autoplay: true,
  		autoplaySpeed: 2000,
	});
</script>

{% endblock  %}