{% extends "base.html" %}
{% block css %}

<style type="text/css">
	.proyectos-link a{color:#801815!important;}
</style>
{% endblock %}
{% block content %}

<div class="container-fluid proyectos">
	<div class="row">
		<h1 class="text-center titulo2">ELLOS HAN CONFIADO EN NOSOTROS</h1>
	</div>
	
	<div class="row">
		<div class="container marcas">
			<!--<img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" src="../static/img/proyectos/black/" onmouseover="this.src='../static/img/proyectos/color/'" onmouseout="this.src='../static/img/proyectos/black/'" border="0"  />-->
			<div class="row">
				<img alt="Agencia de Marketing Digital en Cancún - Alfa Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-alfa.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-alfa.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-alfa.png'" border="0"  />
				 
				<img alt="Agencia de Marketing Digital en Cancún  - BeBack Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-beback.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-beback.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-beback.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Boda Falsa Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-boda-falsa.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-boda-falsa.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-boda-falsa.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Business Kids Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-business-kids.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-business-kids.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-business-kids.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Café Andrade Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-cafe-andrade.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-cafe-andrade.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-cafe-andrade.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Cogqui Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-cogqui.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-cogqui.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-cogqui.png'" border="0"  />
			</div>
			<div class="row">
				<img alt="Agencia de Marketing Digital en Cancún  - Comego Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-comego.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-comego.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-comego.png'" border="0"  /> 
				<img alt="Agencia de Marketing Digital en Cancún  - Conradmed Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-conradmed.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-conradmed.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-conradmed.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Correduria 3 Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-correduria-3.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-correduria-3.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-correduria-3.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Eficmaroc Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-eficmaroc.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-eficmaroc.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-eficmaroc.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - El pibito Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-el-pibito.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-el-pibito.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-el-pibito.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - El sarape Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-elsarape.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-elsarape.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-elsarape.png'" border="0"  />
			</div>
			<div class="row">
				<img alt="Agencia de Marketing Digital en Cancún  - Eneida Café Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-eneida-cafe.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-eneida-cafe.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-eneida-cafe.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Flasog Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-flasog.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-flasog.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-flasog.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Flyfish Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-flyfish.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-flyfish.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-flyfish.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Foro nacional Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-foronacionalturismo.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-foronacionalturismo.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-foronacionalturismo.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Fundacion Colosio Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-fundación-colosio.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-fundación-colosio.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-fundación-colosio.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Hardrock Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-hardrock.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-hardrock.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-hardrock.png'" border="0"  />
			</div>
			<div class="row">
				<img alt="Agencia de Marketing Digital en Cancún  - Imoveqroo Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-imoveqroo.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-imoveqroo.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-imoveqroo.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Itm Desarrolladores Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-itm-desarrolladores.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-itm-desarrolladores.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-itm-desarrolladores.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Grupo Jemaan Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-jemaan.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-jemaan.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-jemaan.png '" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Mapla Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-mapla.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-mapla.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-mapla.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Pelicanos Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-pelicanos.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-pelicanos.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-pelicanos.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Piolé Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-piole.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-piole.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-piole.png '" border="0"  />
			</div>
			<div class="row">
				<img alt="Agencia de Marketing Digital en Cancún  - PRI Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-pri.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-pri.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-pri.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - QRoo Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-quintana-roo.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-quintana-roo.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-quintana-roo.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún  - Rema Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-rema.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-rema.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-rema.png'" border="0"  /> 
				<img alt="Agencia de Marketing Digital en Cancún  - RocaGolf Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-rocagolf.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-rocagolf.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-rocagolf.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Aeropuertuarios Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-servicios-aeropuertuarios.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-servicios-aeropuertuarios.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-servicios-aeropuertuarios.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Supershuttle Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-supershuttle.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-supershuttle.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-supershuttle.png'" border="0"  />
			</div>
			<div class="row">
				<img alt="Agencia de Marketing Digital en Cancún - Tres Reyes Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-tresreyes.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-tresreyes.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-tresreyes.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Twinhooks Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-twinhooks.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-twinhooks.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-twinhooks.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Unid Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-unid.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-unid.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-unid.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Vacasi Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-vacasi.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-vacasi.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-vacasi.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Vyp Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-vyp.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-vyp.png '" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-vyp.png'" border="0"  />
				<img alt="Agencia de Marketing Digital en Cancún - Yucatan Logo - Iddeas Mkt Creative" src="../static/img/proyectos/black/iddeas-mkt-yucatan.png" onmouseover="this.src='../static/img/proyectos/color/iddeas-mkt-yucatan.png'" onmouseout="this.src='../static/img/proyectos/black/iddeas-mkt-yucatan.png'" border="0"  />
			</div>

		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row"  style="background-color:black ;">
		<br><br><br>
		<h2 class="titulo3 text-center" style="color:white;">DESTACADOS</h2>
		<br><br><br>
	</div>
	<div class="row">
		<div class="banner-agencia proyectos" >
			<div class="text-center relative">
				<img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" class="img-responsive" style="margin: 0 auto;" src="../static/img/destacados/iddeas-mkt-proyecto-1.png">
				<div class="absolute" style="width: 39%!important;">
					<h2 class="titulo3 text-center" style="color:gray; font-size: 25px">Federación Latinoamericana de Sociedades de Obstetricia y Ginecología </h2>
					<p style="color:black;" class="text-center">Esta organización que agrupa a las asociaciones nacionales de ginecólogos de 19 países y que representa a Latinoamérica tenía como necesidad conectar con los médicos y las personas del entorno. </p>
					<ul>
						<li>Branding</li>
						<li>Desarrollo web / móvil</li>
						<li>Reputación Online</li>
						<li>Producción publicitaria</li>
						<li>Contenidos</li>
						
					</ul>
					<br>
					<a href="">CONOCE MÁS</a>
				</div>
			</div>

			<div class="text-center relative">
				<img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" class="img-responsive" style="margin: 0 auto;" src="../static/img/destacados/iddeas-mkt-proyecto-2.png">
				<div class="absolute">
					<h2 class="titulo3 text-center" style="color:gray; font-size: 25px">Mapla Soluciones y Pinturas </h2>
					<p style="color:black;" class="text-center">Empresa quintanarroense con más de 25 años de presencia en el mercado; enfrentaba grandes cambios en el entorno y necesitaba adaptarse a ellos para posicionarse en otros nichos.</p>
					<ul>
						
						<li>Reputación Online</li>
						<li>Desarrollo web</li>
						<li>Contenidos</li>
						
					</ul>
					<br><br>
					<a href="">CONOCE MÁS</a>
				</div>
			</div>

			<div class="text-center relative">
				<img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" class="img-responsive" style="margin: 0 auto;" src="../static/img/destacados/iddeas-mkt-proyecto-3.png">
				<div class="absolute">
					<h2 class="titulo3 text-center" style="color:gray; font-size: 25px">Foro Nacional de Turismo</h2>
					<p style="color:black;" class="text-center">Esta organización que realiza eventos para la industria turística desde hace 19 años, enfrentaba la digitalización de la comunicación y la migración a medios digitales por lo que el reto estaba en insertarlo en la conversación.</p>
					<ul>
						<li>Reputación Online</li>
						<li>Diseño</li>
						
					</ul>
					<br><br>
					<a href="">CONOCE MÁS</a>
				</div>
			</div>

			<div class="text-center relative">
				<img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" class="img-responsive" style="margin: 0 auto;" src="../static/img/destacados/iddeas-mkt-proyecto-4.png">
				<div class="absolute">
					<h2 class="titulo3 text-center" style="color:gray; font-size: 25px">Boda Falsa </h2>
					<p style="color:black;" class="text-center">Retomando un concepto en auge internacional; este evento enfrentaba el reto de ganar relevancia rápidamente para comercializar las entradas y realizar exitosamente una fiesta temática de boda. </p>
					<ul>

						<li>Reputación Online</li>
												
					</ul>
					<br><br>
					<a href="">CONOCE MÁS</a>
				</div>
			</div>

			
		</div>
	</div>
</div>
<br><br><br>
<div class="container-fluid">
	<div class="row">
		<div class="container text-center">
			<h2 class="titulo3">¿ESTAS LISTO PARA EMPEZAR?</h2>
			<h3 class="titulo4">Hagamos de tus proyectos algo único.</h3>
			<br>
			<a class="prefooter" href="../contacto">CONTÁCTANOS</a>
			<br>
			<br>
			<p style="font-weight: 500;font-size: 40px;">
				<a href="https://www.facebook.com/IddeasMkt/" target="_blank"><img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" src="../static/img/facebook-logo-iddeas-mkt.png" onmouseover="this.src='../static/img/facebook-red-logo-iddeas-mkt.png'" onmouseout="this.src='../static/img/facebook-logo-iddeas-mkt.png'"></a>
				<a href="https://twitter.com/iddeasmkt" target="_blank"><img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" src="../static/img/twitter-logo-iddeas-mkt.png" onmouseover="this.src='../static/img/twitter-red-logo-iddeas-mkt.png'" onmouseout="this.src='../static/img/twitter-logo-iddeas-mkt.png'"></a>
				<a href="https://www.instagram.com/iddeasmkt/" target="_blank"><img alt="Agencia de Marketing Digital en Cancún - Iddeas Mkt Creative" src="../static/img/instagram-logo-iddeas-mkt.png" onmouseover="this.src='../static/img/instagram-red-logo-iddeas-mkt.png'" onmouseout="this.src='../static/img/instagram-logo-iddeas-mkt.png'"></a> / IddeasMKT
			</p>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$('.banner-agencia').slick({
		dots: false,
		arrows:false,
	  	infinite: true,
	  	speed: 300,
	  	slidesToShow: 1,
	  	autoplay: true,
  		autoplaySpeed: 5000,
	});
</script>

{% endblock  %}